{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>User Registration</h2>

    <form method="post">
        {% csrf_token %}

        Username:
        <input type="text" name="username">

        Email:
        <input type="email" name="email">

        Password:
        <input type="password" name="password">

        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/login/">Login</a></p>
</div>
{% endblock %}
